= link_to (image_tag("Red-signin_Google_base_44dp.png")),
  user_omniauth_authorize_path(:google_oauth2)
= link_to (image_tag("login-with-facebook.png")),
  user_omniauth_authorize_path(:facebook)
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    %br/
    = f.select :role, options_for_select(["Choose Role" ,"Tipster", "Customer"]), class: "form-control"
  .field
    = f.text_field :name, autofocus: true, class: "form-control", placeholder: "Name"
  .field
    = f.email_field :email, class: "form-control", placeholder: "Email"
  .field
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
  .field
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation"
  .field
    = f.label :user_image
    %br
    = f.file_field :user_image
  .set_price
    .field      
      = f.number_field :price, class: "form-control price", :step => 0.01, placeholder: "Set Price (£)"
      %br
  = f.submit "Sign Up", class: "btn btn-primary"
