%p#notice= notice

%p
  %b Date:
  = @prediction.date
%p
  %b Hometeam:
  = @prediction.homeTeam
%p
  %b Awayteam:
  = @prediction.awayTeam
%p
  %b Predictiongoalshometeam:
  = @prediction.predictionGoalsHomeTeam
%p
  %b Predictiongoalsawayteam:
  = @prediction.predictionGoalsAwayTeam

= link_to 'Edit', edit_prediction_path(@prediction)
\|
= link_to 'Back', predictions_path
