= form_for @tip, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :odds, :class => 'control-label'
    .controls
      = f.text_field :odds, :class => 'text_field'
  .control-group
    = f.label :bookies, :class => 'control-label'
    .controls
      = f.text_field :bookies, :class => 'text_field'
  .control-group
    = f.label :stake, :class => 'control-label'
    .controls
      = f.text_field :stake, :class => 'text_field'
  .control-group
    = f.label :type, :class => 'control-label'
    .controls
      = f.text_field :type, :class => 'text_field'
  .control-group
    = f.label :won, :class => 'control-label'
    .controls
      = f.check_box :won, :class => 'check_box'
  .control-group
    = f.label :prediction_id, :class => 'control-label'
    .controls
      = f.number_field :prediction_id, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tips_path, :class => 'btn'
