!!!
%html{"ng-app" => "leatherLaneMarketApp"}
  %head
    %title Betip
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      .flash-message
        = msg
    = link_to 'Log Out', destroy_user_session_path, :class => "navr", method: :delete
    = yield

