<!DOCTYPE html>
<html ng-app="betipApp">
<head>
  <title>Betip</title>
  <base href="/betip/"
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= render "layouts/navbar/navloggedin" %>
  <% else %>
    <%= render "layouts/navbar/navlogin" %>
    <h1>Welcome to Betip</h1>
    <p>How does it work?</p>
  <%end %>

  <% if user_signed_in? %>
    <div ng-view></div>
  <% end %>
<% if current_user.present? %>
  <%= javascript_tag do %>
    var currentUser = <%= raw current_user.to_json %>
    
      var currentTip = <%= raw Tip.last.to_json %>
    <% end %> 
  <% end %>


</body>
</html>

