<!DOCTYPE html>
<html ng-app="betipApp">
<head>
  <title>Betip</title>
  <base href="/betip/"
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= render "layouts/navbar/navloggedin" %>
    <div ng-view class="inner-body"></div>
  <% else %>
    <div class="welcome-page">
      <%= render "layouts/navbar/navlogin" %>
      <h1 class="welcome-page-h1">betip</h1>
      <!-- <h4 class="welcome-page-h4">How does it work?<h4> -->
    </div>
  <%end %>



  <% if current_user.present? %>
    <%= javascript_tag do %>
        var currentUser = <%= raw current_user.to_json({:include => {:tips => {:include => {:predictions => {:methods => [:awayTeam, :date, :homeTeam, :predictionGoalsAwayTeam, :predictionGoalsHomeTeam, :comment]}}}}}) %>
        var currentTip = <%= raw Tip.last.to_json %>
        var tipsters = <%= raw User.where(role: "Tipster").to_json(:include => :user_connections) %>
    <% end %> 
  <% end %>


</body>
</html>

